
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
.row1,.row2{
    display:flex;
    justify-content: space-between;
}
.navbar{
    background-color: rgb(139, 139, 255);
    position:fixed;
    z-index:2;
    align-items: center;
    width:100%;
    margin-bottom: 150px;
}
.List{
    display:flex;
    gap:30px;
    list-style-type: none;
}
input{
    width:400px;
    height:35px;
    border-radius: 10px;
    border: 0.5px solid black;
    padding:10px;
}
.navbar img{
border-radius: 30px;
margin-left:10px;
}
.btn{
    text-transform: uppercase;
    margin-right: 20px;
    color:white;
    font-weight: bold;
    border: none;
}
.heading{
    font-family: 'Whisper', cursive;
    font-size: 3rem;
    color:rgb(20, 7, 160);
    text-shadow: 2px 2px 2px white;
    
}